PORT=5000
NODE_ENV=development
DATABASE_URL="postgresql://postgres:password123@localhost:5432/Urbanbeauty"
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your.email@gmail.com
SMTP_PASS=your_app_password
CLIENT_URL=http://localhost:5173
MOMO_NUMBER=+221XXXXXXXXX
MOMO_NAME=Nom Boutique
MOMO_THRESHOLD=10000
